@import url("./fonts.css");

.error {
    padding: 5rem;

    text-align: center;

    font-size: 2rem;
    font-weight: 900;
}

.error span {
    display: block;

    font-size: 11rem;

    font-weight: 900;
    color: #bababa;
}

