.account-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.account-info img {
    width: 30%;
    outline: 0.1rem solid #000;
    padding: 0.3rem
}

.content .wrapper > a {
    padding: 0.5rem;
    background: #EAEAEA;

    text-decoration: none;
    color: #000;
}
