@font-face {
    font-family: "FloresdelSol";
    src: url("../fonts/FloresdelSolDemo-Regular.ttf");
}

@font-face {
    font-family: "Liberation Serif";
    src: url("../fonts/LiberationSerif-Regular.ttf");
}
