form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 100%;

    padding: 0.2rem;


    gap: 0.5rem;
}

form textarea,
form button,
form select,
form input {
    padding: 0.5rem;
    border: 0;
}

form textarea,
form input {
    border-bottom: 1px solid #00000080;
}

form textarea {
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;

    flex-grow: 2;
    
    border-bottom: 1px solid #00000080;
}

form textarea:focus,
form textarea:hover {
    outline: none;
}

form button,
form input[type="file"],
form select {
    background: #EAEAEA;
    
    transition: background 0.5s ease;
}

form button:hover {
    background: #DADADA;
}

form .error-message {
    padding: 1rem;
    background: #ffaaaa;
}
    
.content .wrapper > a {
    padding: 0.5rem;
    background: #EAEAEA;

    text-decoration: none;
    color: #000;
}
