.list {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    justify-content: center;
}

.list * {
    padding: 0.5rem;
}

.list a {
    text-decoration: none;
    color: #000;
    
    background: #EAEAEA;

    min-width: 1.5rem;
    min-height: 1.5rem;

    text-align: center;
}
