@import url("./fonts.css");


* {
    margin: 0;
    padding: 0;

    font-family: "Liberation Serif";
    font-size: 1.2rem;
}

body {
    background: #FFFDEE;

    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.flores-font {
    font-family: "FloresdelSol"
}

/* HEADER BEGIN */

header {
    background: #FFFDEE;
    padding: 0.7rem;

    box-shadow: 0 0 10px 0 #00000040;

    position: sticky;
    top: 0;

    height: 100%;

    z-index: 999;

    border-bottom: 1px solid #000;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 10%;

    vertical-align: center;
    align-items: center;
}

header .wrapper .logo {
    font-size: 1.5rem;
}

header .wrapper .logo a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

header .wrapper .logo span {
    color: #926767;
    font-family: "FloresdelSol";
    font-size: 1.5rem;
}

header .wrapper menu {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 2rem;
}

header .wrapper .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header .wrapper .account img {
    width: 2rem;
}

header a {
    text-decoration: none;
    color: #000;
}

/* HEADER END */

/* CONTENT BEGIN */

.content {
    width: 100%;

    box-sizing: border-box;

    padding: 2rem 20%;

    text-align: justify;

    flex-grow: 1;
}

.content .wrapper {
    background: #fff;
    box-shadow: 0 0 10px 0 #00000040;

    box-sizing: border-box;

    padding: 1rem;
}

.content .wrapper > * {
    margin-bottom: 1rem;
}

.content .wrapper h2 {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 0.5rem;
}

.content .wrapper h2::before, 
.content .wrapper h2::after {
    content: "";
    
    display: inline-block;
    background: #000;

    flex-grow: 2;

    height: 0.1rem;
}

/* CONTENT END */

/* FOOTER NEGIN */

footer {
    background: #F0EEDF;
    padding: 2rem 20%;

    border-top: 1px solid #000;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    padding: 0.2rem;
}

footer ul a::before {
    content: "-";
    margin: 0 0.5rem;
    text-decoration: none:

}

/* FOOTER END */
