.orders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.orders .order {
    padding: 1rem;
    width: 100%;

    box-sizing: border-box;

    box-shadow: 0 0 10px 0 #00000040;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.orders .order .info {
    flex-grow: 2;
}
.order .status {
    display: flex;
    align-items: center;
}

.order .status * {
    font-weight: 900;
}

.order .status .wait {
    color: #6f6a65;
}

.order .status .processing {
    color: #938740;
}

.order .status .complate {
    color: #5b9341;
}

.order .status .rejected {
    color: #934040;
}

.order .button-more {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.order .button-more a {
    padding: 0.5rem;

    background: #EAEAEA;
    
    color: #000;
    text-decoration: none;
}

.content .wrapper > a {
    padding: 0.5rem;
    background: #EAEAEA;

    text-decoration: none;
    color: #000;
}
}
