.products {
    display: flex;
    flex-direction: row;
    
    gap: 0.5rem;
    
    flex-wrap: wrap;

    position: relative;
}

.products .product {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    gap: 1rem;

    padding: 0.5rem;
    
    box-shadow: 0 0 10px 0 #00000040;

    width: 30%;
    transition: box-shadow 0.5s ease;
}

.products .product:hover {
    box-shadow: 0 0 15px 0 #00000080;
}

.products .product a {
    text-decoration: none;
    color: #000;

    background-color: #EAEAEA;
    padding: 0.5rem;

    text-align: center;

    transition: background 0.5s ease;
}

.products .product a:hover {
    background: #DADADA;
}

.products .not-found {
    padding: 3rem;
    text-align: center;

    width: 100%;
}

.content .wrapper > a {
    padding: 0.5rem;
    background: #EAEAEA;

    text-decoration: none;
    color: #000;
}
