.search-box form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 100%;

    padding: 0.2rem;


    gap: 0.5rem;
}

.search-box form textarea,
.search-box form select,
.search-box form button {
    padding: 0.5rem;

    border: 0;
}

.search-box form textarea,
.search-box form select {
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;

    flex-grow: 2;
    
    border-bottom: 1px solid #00000080;
}

.search-box form textarea:focus,
.search-box form textarea:hover {
    outline: none;
}

.search-box form button {
    background: #EAEAEA;

    transition: background 0.5s ease;
}

.search-box form button:hover {
    background: #DADADA;
}
