{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        {% block buttons %}
        {% endblock %}
        <h2>Данные о аккаунте</h2>
        <div class="account-info">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
            <div class="info">
                <p>Фио: {{ fullname }}<p>
                <p>Почта: {% if email %}{{ email }}{% else %}Не указан{% endif %}</p>
                <p>Телефон: {% if phone %}{{ phone }}{% else %}Не указан{% endif %}</p>
            </div>
        </div>
        <h2>Заказы</h2>
        {% include 'orders.html' %}
        {% include 'pages.html' %}
    </div>
</div>
{% endblock %}
