{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <div class="search-box">
            <form method="POST">
                <button name="buy-all">Заказать все</button>
                <button name="rm-all">Убрать все</button>
            </form>
        </div>
        <h2>Ваша корзина</h2>
        {% include 'products.html' %}
        {% include 'pages.html' %}
    </div>
</div>
{% endblock %}
