{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <form method="POST">
            <h2>Информация о заказе</h2>
            <textarea required placeholder="Требование" name="requirements" rows="1" style="outline: 1px solidы #00000040; resize: vertical; white-space: pre-wrap;"></textarea><br>
            <button>Отправить заявку</button>
        </form>
    </div>
</div>
{% endblock %}
