{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <div class="error">
            <span>{{ error_code }}</span>
            {{ error_message }}
        </div>
    </div>
</div>
{% endblock %}
