{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <h2>Галерея продуктов</h2>
        {% if edit %}
        <a href="{{ url_for('BP_EMPLOYEE.product_add') }}">Добавить продукцию</a>
        {% endif %}
        <div class="search-box">
            <form method="GET">
                <textarea rows="1" name="search-query" type="text" placeholder="Поиск...">{% if search_query %}{{ search_query }} {% endif %}</textarea>
                <button>Поиск</button>
            </form>
        </div>
        {% include 'products.html' %}
        {% include 'pages.html' %}
    </div>
</div>
{% endblock %}
