{% extends 'main.html' %}

{% block content %}
<div class="banner">
    <div class="back">
        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="Ошибка загрузки изображения!">
    </div>
    <div class="text">
        <div class="wrapper">
            <h1 class="flores-font">Сладкий Мир</h1>
            Место исполнения сладких желаний
        </div>
    </div>
</div>
<div class="content">
    <div class="wrapper">
        <h2>О нас</h2>
        <div class="description">
            <img src="{{ url_for('static', filename='images/place.png') }}" alt="">
            <div class="text">
                "Сладкий Мир" — производитель и продавец кондитерских изделий. Мы создаем вкусные и качественные сладости, такие как торты, пирожные, печенье, шоколад и многое другое. Наша продукция изготавливается из лучших ингредиентов, чтобы обеспечить нашим клиентам незабываемый вкус и удовольствие. Мы стремимся быть лидерами в индустрии кондитерских изделий и радовать наших клиентов лучшими продуктами.
            </div>
        </div>
        <h2>Наши новинки</h2>
        {% include 'products.html' %}
    </div>
</div>
{% endblock %}
