{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <form method="POST">
            {% if error_message %}
            <div class="error-message">
                {{error_message}}
            </div>
            {% endif %}
            <h2>Вход в аккаунты</h2>
            <input required maxlenght="45" type="text" placeholder="Логин" name="login" rows="1"></textarea><br>
            <input requried maxlenght="45" type="password" placeholder="Пароль" name="password" rows="1"></textarea><br>
            <button name="confirm">Войти</button>
            <p>Нет учетной записи? <a href="{{ url_for('BP_CLIENT.registration') }}">зарегистрируйтесь</a> сейчас!</p>
        </form>
    </div>
</div>
{% endblock %}

