<!DOCTYPE HTML>
</html>
    <head>
        <meta charset="UTF-8">
        <title>Сладкий мир {% if title %}- {{ title }}{% endif %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% if css_files %}
            {% for css in css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + css) }}">
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class="logo flores-font"><a href="{{ url_for('BP_CLIENT.main') }}">Сладкий <span>Мир</span></a></div>
                <menu>
                    <li><a href="{{ url_for('BP_CLIENT.main') }}">Главная</a></li>
                    <li><a href="{{ url_for('BP_CLIENT.gallery') }}">Галерея</a></li>
                    <li><a href="{{ url_for('BP_CLIENT.bastket') }}">Корзина</a></li>
                    <li><a href="{{ url_for('BP_CLIENT.custom_order') }}">Персональный заказ</a></li>
                </menu>
                <div class="account">
                    {% if account_fullname %}
                    <a href="{{ url_for('BP_CLIENT.my_account') }}">{{ account_fullname }}</a>
                    {% else %}
                    <a href="{{ url_for('BP_CLIENT.login') }}">Войти</a>
                    {% endif %}
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                </div>
            </div>
        </header>
        {% block content %}

        {% endblock %}
        <footer>
            <h2>ООО "Сладкий мир"</h2>
            Тектс текст текст<br><br>

            Ссылки:
            <ul>
                <li><a href="http://vk.com/cxxcoder">ВК автора работы</a></li>
                <li><a href="">Наш репозиторий Codeberg</a></li>
            </ul>
        </footer>
    </body>
</html>
