{% extends 'account.html' %}
{% block buttons %}
<a href="{{ url_for('BP_CLIENT.account_exit') }}">Выход</a>
{% if is_employee %}
<a href="{{ url_for('BP_EMPLOYEE.list_order') }}">Список заказов</a>
<a href="{{ url_for('BP_EMPLOYEE.products') }}">Список продукции</a>
{% endif %}
{% endblock %}
