{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        {% if edit %}
        <a href="{{ url_for('BP_EMPLOYEE.list_order') }}">Вернуться к списку</a>
        {% endif %}
        <h2>Информация о заказе</h2>
        <p>Номер заказа: {{ order.id }}</p>
        {% if edit %}
        <p>Заказчик: <a href="{{ url_for('BP_EMPLOYEE.client', id=user_id) }}">{{ user_fullname }}</a></p>
        {% endif %}
        <p>Дата оформления: {{ order.date_begin }}</p>
        {% if order.date_end %}
        <p>Дата окончания: {{ order.date_end }}</p>
        {% endif %}
        <h2>Статус и цена заказа</h2>
        {% if edit %}
        <form method="POST">
            Цена: <textarea placeholder="Цена в рублях" name="price" rows="1">{% if order.price %}{{ order.price }}{% else %}0{% endif %}</textarea>
            Стутус: <select name="status">
                <option value="В ожидании" {% if order.status == "В ожидании" %}selected=""{% endif %}>В ожидании</option>
                <option value="В процессе" {% if order.status == "В процессе" %}selected=""{% endif %}>В процессе</option>
                <option value="Завершено"  {% if order.status == "Завершено" %}selected=""{% endif %}>Завершено</option>
                <option value="Отклонено"  {% if order.status == "Отклонено" %}selected=""{% endif %}>Отклонено</option>
            </select>
            <button>Сохранить</button>
        </form>
        {% else %}
        <p>Цена: {% if order.price %}{{ order.price }} Руб{% else %}Не указано{% endif %}</p>
        <p>Стутус заказа: {{ order.status }}</p>
        {% endif %}
        <h2>Продукция:</h2>
        {% if products %}
            {% include 'products.html' %}
            {% include 'pages.html' %}
        {% else %}
        <div class="custom-product">
            <p>Требования:<p>
            <p>{{requirements}}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
