
{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <h2>Галерия продуктов</h2>
        <div class="search-box">
            <form method="GET">
                Cтутус заказа:
                <select name="status">
                    <option value="">Не фильтровать<option>
                    <option value="В ожидании">В ожидании</option>
                    <option value="В процессе">В процессе</option>
                    <option value="Завершено">Завершено</option>
                    <option value="Отклонено">Отклонено</option>
                </select>
                <button>Фильтровать</button>
            </form>
        </div>
        {% include 'orders.html' %}
        {% include 'pages.html' %}
    </div>
</div>
{% endblock %}
