<div class="orders">
    {% if orders %}
        {% for i in orders %}
    <div class="order">
        <div class="info">
            <p>Номер заказа: {{ i.id }}</p>
            <p>Цена: {% if i.price %}{{ i.price }} Руб. {% else %}Не указано{% endif %}</p>
            <p>Дата и время формирования: {{ i.date_begin }}</p>
            <p>Дата и время окончания: {% if i.date_end %}{{ i.date_end }}{% else %}Заказ еще не выполнен{% endif %}</p>
        </div>
        <div class="status">
            {% if i.status == "В ожидании" %}
            <div class="wait">В ожидании</div>
            {% elif i.status == "В процессе" %}
            <div class="processing">В процессе</div>
            {% elif i.status == "Завершенно" %}
            <div class="complate">Завершено</div>
            {% else %}
            <div class="rejected">Отклонено</div>
            {% endif %}
        </div>
        <div class="button-more">
            {% if is_employee %}
            <a href="{{ url_for('BP_EMPLOYEE.order', order_id=i.id) }}">Подробнее</a>
            {% else %}
            <a href="{{ url_for('BP_CLIENT.order', order_id=i.id) }}">Подробнее</a>
            {% endif %}
        </div>
    </div>
        {% endfor %}
    {% else %}   
    Вы еще не сделали заказов!
    {% endif %}
</div>
