 <div class="list">
     {% if prev_page %}
     <a href="{{prev_page}}"><</a>
     {% endif %}
     <p>{{ current_page }}</p>
     {% if next_page %}
     <a href="{{next_page}}">></a>
     {% endif %}
 </div>
