{% block products %}
<div class="products">
    {% if products %}
        {% for product in products %}
    <div class="product">
        <img src="{{ url_for('BP_CLIENT.product_img', id=product[0]) }}" alt="Не удалось загрузить изображение, извените! :(">
        <span>{{ product[1] }}</span>
        <a href="{{ url_for('BP_CLIENT.product', id=product[0]) }}">Подробнее</a>
        {% if edit %}
        <a href="{{ url_for('BP_EMPLOYEE.product_edit', id=product[0]) }}">Редактировать</a>
        {% endif %}
        {% if edit or is_bastket %}
        <form method="POST">
            <input hidden name="product_id" value="{{product[0]}}">
            <button name="rm-product">{% if edit %}Удалить из списка{% else %}Удалить из корзины{% endif %}</button>
        </form>
        {% endif %}

    </div>
        {% endfor %}
    {% else %}
    <div class="not-found">
        По вашему запросу ничего не найдено! ;(
    </div>
    {% endif %}
</div>
{% endblock %}
