{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <h2>Продукт</h2>
        <div class="account-info">
            <img src="{{ url_for('BP_CLIENT.product_img', id=product.id) }}" alt="">
            <div class="info">
                <p>Название: {{ product.name }}<p>
                <p>Цена: {{ product.price }}</p>
                <form method="POST">
                    {% if product_in_basket %}
                    <button name="rm_product">Убрать из корзины</button>
                    {% else %}
                    <button name="add_product">Добавить в корзину</button>
                    {% endif %}
                    <button name="buy">Купить</button>
                </form>
            </div>
        </div>
        <h2>Описание</h2>
        <p class="descrition">
            {{product.description}}
        </p>
    </div>
</div>
{% endblock %}
