{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <a href="{{ url_for('BP_EMPLOYEE.products') }}">Отмена</a>
        {% if error_messages %}
        <div class="error-message">
            {% for i in error_messages %}
                {{i}}<br>
            {% endfor %}
        </div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            <h2>Информация о продукте</h2>
            <textarea required placeholder="Название" name="name" rows="1">{% if product %}{{ product.name }}{% endif %}</textarea><br>
            <input required type="number" step="0.01" placeholder="Цена" name="price" rows="1" value="{% if product %}{{ product.price }}{% endif %}"><br>
            <input required type="file" accept="image/png, image/jpeg" name="image" value="{% if product and product.logo %}Изменить изображение{% else %}Выбрать изображение{% endif %}">
            <textarea required placeholder="Описание" name="descriptions" rows="1" style="outline: 1px solid #00000040; resize: vertical; white-space: pre-wrap;">{% if product %}{{ product.description }}{% endif %}</textarea><br>
            <button>Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}
