{% extends 'main.html' %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <form method="POST">
            {% if error_messages %}
            <div class="error-message">
                {% for i in error_messages %}
                    {{i}}<br>
                {% endfor %}
            </div>
            {% endif %}
            <h2>Личная информация</h2>
            <textarea maxlenght="45" required placeholder="Фамилия" name="lastname" rows="1"></textarea><br>
            <textarea maxlenght="45"required placeholder="Имя" name="firstname" rows="1"></textarea><br>
            <textarea maxlenght="45"required placeholder="Отчество" name="surname" rows="1"></textarea><br>
            <h2>Контактные данные</h2>
            <input maxlenght="100" type="email" placeholder="Почта" name="email"><br>
            <input maxlenght="20" placeholder="Телефон" name="phone"><br>
            <h2>Автаризационные данные</h2>
            <textarea maxlenght="45" placeholder="Логин" name="login" rows="1"></textarea><br>
            <input maxlenght="45" required type="password" placeholder="Пароль" name="password" rows="1"></textarea><br>
            <input maxlenght="45"required type="password" placeholder="Повтроите пароль" name="password_repeat" rows="1"></textarea><br>
            <button name="confirm">Зарегистрироваться</button>
            <p>Уже зарегистрированны? Тогда <a href="{{ url_for('BP_CLIENT.login') }}">войдите</a> в свою учетную запись!</p>
        </form>
    </div>
</div>
{% endblock %}
